# Maven/Gradle build
/target/
/build/
/out/
*.jar
*.war

# IDEs
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.pem
*.p12
*.jks
*.keystore

# Spring profiles locais/prod
src/main/resources/application-*.yml
!src/main/resources/application.yml
